---
import { type CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Nav from '../components/Nav.astro';
import "../styles/global.css";
import "./blog-layout.css";
import Footer from "../components/Footer.astro";
import SeoHead from "./seo-head.astro";
import Back from "../components/Back.astro";

type Props = CollectionEntry<'articles'>['data'];

let {title, tags, heroImage, pubDate, keywords, description, heroImageAlt} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="author" content="Tonie Victor" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<SeoHead title={`${title}`} description={description} image={heroImage} keywords={keywords}/>
	</head>

	<body>
        <Nav/>
        <main class="main">
						<Back text="Back to blog" url="/blog"></Back>
            <section>
                <div class="top">
                    <h1>{title}</h1>
                    <FormattedDate date={pubDate}/>
									</div>
										{
											heroImage && (<div class="top_image">
												<img src={heroImage} alt={heroImageAlt} loading="lazy"/>
											</div>)
										}
                </div>
            </section>
            <slot/>
            <div class="post_tags">
              {tags.map((t) => 
              <a href={`/blog/tags/${t.replace(" ", "-")}`}>{t}</a>
              )}
            </div>
        </main>
				<Footer />
	</body>
</html>
