---
import { type CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Nav from '../components/Nav.astro';
import "../styles/global.css";
import "./blog-layout.css";
import Footer from "../components/Footer.astro";
import SeoHead from "./seo-head.astro";
import Back from "../components/Back.astro";

type Props = CollectionEntry<'articles'>['data'];

const {title, heroImage, pubDate, tags, description, heroImageAlt} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="author" content="Tonie Victor" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />
		<SeoHead title={title} description={description} image={heroImage} keywords={tags}/>
	</head>

	<body>
        <Nav/>
        <main>
						<Back text="Back to blog" url="/blog"></Back>
            <section>
                <div class="top">
                    <h1>{title}</h1>
                    <p>{description}</p>
                    <FormattedDate date={pubDate}/>
									</div>
										{
											heroImage && (<div class="top_image">
												<img src={heroImage} alt={heroImageAlt} loading="lazy"/>
											</div>)
										}
                </div>
            </section>
        <slot/>
        </main>
				<Footer />
	</body>
</html>


