---
let { title, description, keywords, image } = Astro.props;
if (!image) image = "/images/profile.jpeg";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Primary -->
<meta name="generator" content={Astro.generator} />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="google" content="notranslate" />
<link rel="canonical" href={canonicalURL} />

<!-- OpenGraph/Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<!-- <meta property="twitter:card" content="summary" /> -->
<!-- Use this for larger image rendering -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<meta name="twitter:site" content="@tonie_ng" />
<meta name="twitter:creator" content="@tonie_ng" />

<title>{title}</title>
